body {
    font-family: 'Mulish', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header {
    display: flex;
    flex-direction: row;
}

main {
    display: flex;
    gap: 60px;
    background-color: #343193;
    padding: 64px 111px;
}
.moon {
    height: 94px;
    width: 94px;
}
div {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 24px;
}