* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 62.5%;
    --base-font: 'Mulish', sans-serif;

    /* Colors */
    --white: #ffffff;
    --light-gray: #f9f4fb;
    --accent-color: #b52184;
    --text-base-color: #312d64;
    --gradient-background: linear-gradient(96.21deg, #343193 0%, #302c63 99.68%);
}
  
body {
    background: var(--light-gray);
    font-family: var(--base-font);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header {
    display: flex;
    flex-direction: row;
    margin-top: 31.2rem;
    margin-right: 10.9rem; 
}

.arrow-down {
    margin-top: 179px;
    padding: 30px 14px;
    border-radius: 760px;
    border: solid 4px;
    
    border-color: var(--accent-color);
}

h1 {
    font-size: 5.8rem;
    color: var(--accent-color);
    font-weight: 900;
}

header p {
    font-size: 3.2rem;
    color: var(--text-base-color);
    font-weight: 600;
}

main {
    display: flex;
    gap: 6.0rem;
    background-color: var(--gradient-background);
    padding: 6.4rem 11.1rem;
}
.moon {
    height: 9.4rem;
    width: 9.4rem;
}
main div {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 2.4rem;
}